.button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  padding: 6px 12px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid; 
  border-radius: 4px;
  user-select: none;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}