.summary {
  &__title {
    text-align: center;
    font-size: 40px;
  }

  &__results__container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: seashell;
    border: 1px solid rosybrown;
  }

  &__results {
    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &__title {
      margin: 0;
      margin-bottom: 20px;
      font-size: 25px;
    }

    &__list {
      ul {
        margin: 0;
        padding-left: 20px;
      }

      li {
        list-style-type: none;
        font-size: 18px;
        color: crimson;
        
        &:not(:last-child) {
          margin-bottom: 10px;
        }

        &:first-letter{
          text-transform: capitalize;
        }
      }
    }
  }
}