.input__text {
  display: flex;
  width: 350px;
  height: 50px;
  margin: 20px auto;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  line-height: 18px;

  @media screen and (max-width: 500px) {
    width: 80%;
  }

  &:focus {
    border-color: #66afe9;
    outline: none;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}