.selected-item-container {
  padding: 30px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    list-style-type: none;

    &:not(:last-child) {
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
}