.question {
  padding: 30px;
  text-align: center;

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 36px;
  }

  &__info {
    width: 400px;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: grey;

    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }
}