.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;

  .button:not(:last-child) {
    margin-right: 20px;
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;

    .button:not(:last-child) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}