.selected-item {
  display: inline-flex;
  vertical-align: middle;
  white-space: nowrap;
  padding: 6px 12px;
  text-align: center; 
  font-size: 15px;
  font-weight: 400;
  border: 1px solid;
  border-radius: 4px;
  background-color: linen;
  user-select: none;

  &__text {
    margin-right: 10px;
    line-height: 20px;

    &:first-letter{
      text-transform: capitalize;
    }
  }

  &__remove {
    &:focus {
      outline: none;
    }

    svg {
      height: 20px;
      width: 20px;
    }
  }
}