.search-results {
  display: flex;
  flex-direction: row;
  padding: 30px;
  border-top: 2px solid red;
  border-bottom: 2px solid red;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  &__title {
    width: 200px;
    margin-right: 50px;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: #8b0000;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &__items {
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      list-style-type: none;
      margin-right: 20px;
      padding: 10px 0;

      button {
        text-transform: capitalize;
      }
    }
  }
}